@model IEnumerable<masood_lab.Models.LibrarianModel>
@{
    ViewBag.Title = "ViewLibrarian";
    Layout = "~/Views/master.cshtml";
}


<h3>
    View Librarian  <label id="success" class="label label-success" style="font-size:small;display:none">@ViewBag.Message</label>
    <label id="error" class="label label-danger" style="font-size:small;display:none">@ViewBag.Error</label>
</h3>


<div class="content-panel">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Phonenumber</th>
                    <th>NIC number</th>
                    <th>Email</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Librarian in Model)
                {
                    <tr class="gradeX">
                        <td>@Librarian.lib_id</td>
                        <td>@Librarian.lib_username</td>
                        <td>@Librarian.Name</td>
                        <td>@Librarian.Phonenumber</td>
                        <td>@Librarian.NIC</td>
                        <td>@Librarian.Email</td>
                        <td>
                            <a class="label label-success" href="@Url.Action("UpdateLibrarian", "Librarian", new { FID = @Librarian.lib_id })">Update <i class="fa fa-edit"></i></a><br />
                            <a class="label label-danger" href="@Url.Action("DeleteLibrarian", "Librarian", new { FID = @Librarian.lib_id })">Delete <i class="fa fa-trash"></i></a>

                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>
<br /><br />

<script type="text/javascript">
    window.onload = function () {

        if ("@ViewBag.Message" != "") {
            document.getElementById('success').style.display = 'inline';
            var duration = 5000;
            setTimeout(function () { $('#success').hide(); }, duration);
        }
        else if ("@ViewBag.Error" != "") {
            document.getElementById('error').style.display = 'inline';
            var duration = 5000;
            setTimeout(function () { $('#error').hide(); }, duration);
        }

    }

</script>


