@model List<masood_lab.Models.MemberModel>
@{
    ViewBag.Title = "ViewMember";
    Layout = "~/Views/master.cshtml";
}

<h3>View Member</h3>
<div class="content-panel">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th class="hidden-phone">Phonenumber</th>
                    <th class="hidden-phone">NIC number</th>
                    <th class="hidden-phone">Address</th>
                    <th class="hidden-phone">Email</th>
                    <th class="hidden-phone">Date of birth</th>
                    <th class="hidden-phone">Code</th>
                    <th class="hidden-phone">RepeatCode</th>
                    <th class="hidden-phone">Gender</th>
                    <th class="hidden-phone">Department</th>
                    <th class="hidden-phone">C#</th>
                    <th class="hidden-phone">Python</th>
                    <th class="hidden-phone">JAVA</th>
                </tr>
            </thead>
            <tbody>
                 @foreach(var item in Model)
                 { 
                <tr class="gradeX">
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>@item.Phonenumber</td>
                    <td>@item.NIC</td>
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                    <td>@item.Date_of_birth</td>
                    <td>@item.Password</td>
                    <td>@item.RepeatPassword</td>
                    <td>@item.Gender</td>
                    <td>@item.Department</td>
                    <td>@item.Csharp</td>
                    <td>@item.python</td>
                    <td>@item.JAVA</td>
                 
                </tr>
                 }
           
            </tbody>
        </table>
    </div>
</div>

